h1{
    background-color: aqua;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    height: 400px;
    grid-template-areas: 
    "nav nav nav nav"
    "main main . advert"
    "main main . advert";
    row-gap: 20px;
    justify-items: center;
    align-items: start;
}

.main-area{
    grid-area: main
}

.nav-area{
    grid-area: nav
}

.advert-area{
    grid-area: advert;
    justify-self: end;
}


.new-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    height: 300px;
    justify-items: center;
}

.area-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}


.logo-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    /* height: 500px; */
    grid-template-areas:
    "adidas apple amazon beats"
    "headphones shop music shoes";
}

.adidas{
    grid-area: adidas;
}

.apple{
    grid-area: apple;
}

.amazon{
    grid-area: amazon;
}

.beats{
    grid-area: beats;
}

.headphones{
    grid-area: headphones;
}

.shop{
    grid-area: shop;
}

.music{
    grid-area: music;
}

.shoes{
    grid-area: shoes;
}

.logo-grid img{
    width: 100%;
    height: auto;
}

.logo-grid > div{
    max-height: 50vh;
    /* justify-self: center;
    align-self: center; */
    place-self: center;
    border: 1px solid #eee;
    padding: 3em;
}